.drawer-container {
    height: calc(100% - 64px);
}

.mat-drawer {
    width: 150px;
    background-color: aquamarine;
}

.mat-list-item {
    display: flex;
    flex-direction: row;
}
// .mdc-list-item__content {
//     display: flex;
//     flex-direction: row;
// }

.mat-list-item:hover {
    cursor: pointer;
    // background-color: lightgray;

}

mat-icon {
    margin-right: 5px;
    background-color: greenyellow;
}